<%inherit file="accomplishment-base.html" />
<%! from django.utils.translation import ugettext as _ %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400&subset=latin,greek' rel='stylesheet' type='text/css'>
 
<style>
.signatory{
width:90%!important;
}

.layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-signatories .signatory-signature, .layout-accomplishment.certificate-honor .accomplishment-rendering .accomplishment-type-symbol{
display:block;
}
.wrapper-banner-user{
margin-top:0px;
}

</style>

% if user.is_authenticated() and user.id == int(accomplishment_user_id):
<%include file="_accomplishment-banner.html" />
% endif
<%include file="_accomplishment-introduction.html" />

<%include file="_accomplishment-rendering.html" />
<!--<div class="wrapper-about">
    <aside role="complementary" class="about" aria-label="About edX Certificates">
        <%include file="_about-edx.html" />
        <%include file="_about-accomplishments.html" />
    </aside>
</div>-->
