// Theming overrides for sample theme
$serif: 'Open Sans';
$sans-serif: 'Open Sans';


//COLORS TEXT
$link-color:gray !default;

//COLORS BACKGROUND

// the body of page it seems that the body is in the couse boxes and one line over the footer which I delete it
$body-bg: #efefef!default;

//the html page
html{
background: #efefef!important;
}

$header-bg: #efefef !default;//color for header
$footer-bg: #efefef !default;//color for footer

// the main content of pages 
$content-wrapper-bg: #efefef !default;

//the color in the about course the box behind the course title
//$course-header-bg: silver !default;
//the color in the about course behind the box with the course title and also in hoover
//$course-profile-bg: red !default;


//the color behind the box slogan
$homepage__header--gradient__color--alpha: #efefef !default;

//COLORS BORDERS

//changing the border between courses in dashboard and also the border around the courses in dashboard
$border-color-l4:#cfcfcf!default;

//bg color for password-reset-confirm
$container-bg: #efefef!default;


//unknown
/*
$homepage__header--gradient__color--bravo: teal !default;
$homepage__header--background: navy !default;
$modal-bg-color: lime!default;
$homepage__header--background: maroon !default;
$course-bg-color: aqua !default;
*/

//.course-organization{
//   display-none;
//}
