<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Οι πόροι</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Οι πόροι</h1>
<p class="ngabout">Τα διεθνή πρότυπα ποιότητας που επιδιώκει το Mathesis, 
είναι ένας <i>ακριβός στόχος</i>. Απαιτεί μεγάλα ποσά ανθρωποχρόνου σε όλα τα επίπεδα εργασίας ενώ οι αβεβαιότητες είναι επίσης πολύ μεγάλες, αφού η αναγκαία εμπειρογνωμοσύνη δεν προϋπάρχει αλλά χτίζεται, κι αυτή καθ’ οδόν. 
Ακόμα περισσότερο αν σκεφτούμε ότι η διαδικτυακή εκπαίδευση είναι μια <i>ανατρεπτική τεχνολογία</i> σε πλήρη εξέλιξη. 
Θα πρέπει επομένως, εκτός των άλλων, να είναι κανείς σε συνεχή επαφή με τις διεθνείς εξελίξεις ώστε να μην αποκοπεί από αυτές. </p>
<p class="ngabout">Είναι φανερό ότι ένα εγχείρημα τέτοιας εμβέλειας απαιτεί όχι μόνο ανθρώπινους αλλά και οικονομικούς πόρους. Δεδομένου όμως ότι ο οργανισμός που φιλοξενεί το 
<i>Mathesis</i> &mdash;οι Πανεπιστημιακές Εκδόσεις Κρήτης&mdash; δεν δέχεται ούτε ένα ευρώ (άμεσης ή έμμεσης) κρατικής ενίσχυσης αλλά βασίζει τη λειτουργία του 
<i>αποκλειστικά</i> στα έσοδα από τις πωλήσεις των βιβλίων του, η δυνατότητα εσωτερικής χρηματοδότησης των μαθημάτων είναι πολύ περιορισμένη αν όχι μηδενική. 
Έτσι, το <i>Mathesis</i> θα είχε «προσγειωθεί» σε πολύ χαμηλότερα επίπεδα απαιτήσεων και προσδοκιών, αν το Ίδρυμα Σταύρος Νιάρχος δεν έκανε δεκτή την πρότασή μας να το στηρίξει στα πρώτα του βήματα. Δηλαδή για μια τριετή πιλοτική περίοδο (2015-2018) στο τέλος της οποίας θα κρινόταν τόσο η δική μας ικανότητα να ανταποκριθούμε στον στόχο που θέσαμε όσο και η αποδοχή της προσπάθειάς μας από την εκπαιδευτική κοινότητα της χώρας και το ευρύτερο κοινό. </p>
<p class="ngabout">Η απροσδόκητη επιτυχία του «πειράματος» &mdash;δείτε τον σχετικό απολογισμό <em><a href="/c4x/edX/DemoX/asset/B2.pdf" target="_blank">εδώ</a></em>&mdash; μας επιτρέπει σήμερα να σχεδιάζουμε το χρηματοδοτικό μέλλον του <em>Mathesis</em> με κύρια πηγή εσόδων τη μικρή συμβολή των φοιτητών του για την απόκτηση των βεβαιώσεων επιτυχούς παρακολούθησης. Ενώ το υπόλοιπο θα καλύπτεται από τη συνεχιζόμενη εθελοντική εργασία του διευθυντή του και από μια δεύτερη δωρεά 5ετούς διάρκειας από το ΙΣΝ που έκανε δεκτή τη νέα πρότασή μας για συμπληρωματική στήριξη της βαθμιαίας μετάβασης του <em>Mathesis</em> σε έναν πλήρως αυτοχρηματοδοτούμενο οργανισμό.
</p>
<p class="ngabout">
Έτσι, με τη στήριξη των πολιτών που παρακολουθούν τα μαθήματά του ελπίζουμε ότι το <em>Mathesis</em> θα μπορέσει να εδραιωθεί τελικά ως ένας αυθεντικός θεσμός της κοινωνίας των πολιτών που σ' αυτούς θα λογοδοτεί και σ' αυτούς θα βασίζει τη λειτουργία του.
<p>
<!--<p class="ngabout">Ενώ εξίσου αβέβαιο είναι και το μέλλον του «πειράματος» μετά την πιλοτική του φάση. Χωρίς έσοδα από τα προσφερόμενα μαθήματα &mdash;αφού διατίθενται δωρεάν&mdash; η δυνατότητα των ΠΕΚ και του 
<i>Mathesis</i> να συνεχίσουν την προσπάθεια θα εξαρτηθεί καίρια και από την ικανότητα της ίδιας της χώρας να αντιληφθεί τις δυνατότητες της ποιοτικής διαδικτυακής εκπαίδευσης &mdash;μεταξύ άλλων στην προώθηση της διά βίου μάθησης&mdash; και να στηρίξει τις όποιες νησίδες ποιότητας έχουν μπορέσει να δημιουργηθούν μέχρι τότε. </p>
<p class="ngabout">Προς το παρόν, το μόνο ερώτημα που έχει νόημα για μας είναι τούτο: 
<i>Μπορούμε πράγματι να παράγουμε διαδικτυακά μαθήματα με διεθνή πρότυπα ποιότητας;</i> </p>
<p class="ngabout"> </p>-->

</td></tr></table>




</section>

