<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Νέα</%block>
<section class="container about">

<table class="ngabout">
<tr><td class="ngabout"><%include file="menu-news.html"/></td>
<td class="ngabout2">

<style>
.ngthumb{
text-align:center;
padding:2px;
border-bottom:1px dotted;
width:50px;
padding-top:15px;
padding-bottom:10px;
}
.ngimgthumb{
max-width:100px;

}
.ngdesc{
padding:2px;
border-bottom:1px dotted;
padding-top:10px;
padding-bottom:10px;
line-height:1.4em;
}
</style>

<h1>Νέα</h1>

<table>

<tr>
  <td class="ngthumb"><b>21/10/2018: </b> </td>
  <td class="ngdesc">
    <p>
      Με μεγάλη μας χαρά ανακοινώνουμε ότι το Ίδρυμα Σταύρος Νιάρχος μόλις έκανε δεκτή την πρότασή μας για μια δεύτερη δωρεά προς το <em>Mathesis</em> 5ετούς διάρκειας, η οποία θα στηρίζει <em>επικουρικά</em> το σχέδιό μας για τη μετατροπή του σε έναν πλήρως αυτοχρηματοδοτούμενο οργανισμό σε ορίζοντα δεκαετίας από την ίδρυσή του. Ένα μέρος της δωρεάς θα είναι σε μορφή challenge funds που θα αποδεσμεύονται στον βαθμό που το <em>Mathesis</em> θα είναι σε θέση να προσελκύσει αντίστοιχα ποσά από άλλους δωρητές.
    </p>
    <p>
      Ως ελάχιστη δημόσια αναγνώριση της καθοριστικής συμβολής του ΙΣΝ στη δημιουργία του πρώτου Κέντρου Ανοικτών Διαδικτυακών Μαθημάτων στη χώρα, η παρουσία του λογότυπού του στη βάση όλων των σελίδων του ιστότοπού μας θα είναι ένα σταθερό στοιχείο της ταυτότητας του <em>Mathesis</em> σε όλη τη διάρκεια της &mdash;μακράς ελπίζουμε&mdash; ζωής του.
    </p>
  </td>
</tr>

</table>


</td></tr></table>

</section>


