<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">Περί - Εκπαιδευτική έρευνα</%block>

<section class="container about">
<table class="ngabout">
<tr><td class="ngabout"><%include file="menu.html"/></td>
<td class="ngabout2">



<h1>Εκπαιδευτική έρευνα</h1>
<p class="ngabout">Τόσο οι μεγάλοι αριθμοί των φοιτητών που παρακολουθούν τα ανοικτά διαδικτυακά μαθήματα (τουλάχιστον τα πιο δημοφιλή) όσο και η εκπληκτική ικανότητα της πλατφόρμας που τα φιλοξενεί να κρατάει έναν τεράστιο όγκο δεδομένων, καθιστούν τα MOOCs προνομιούχο πεδίο για παιδαγωγικές έρευνες. 
Παραδείγματος χάριν, από τα ποσοστά των φοιτητών που απέτυχαν στην πρώτη προσπάθειά τους να απαντήσουν ορισμένες ερωτήσεις και ασκήσεις, μπορεί να εντοπίσει κανείς τα «δύσκολα σημεία» ενός μαθήματος και να επιχειρήσει τη βελτίωση της παρουσίασής τους σε δεύτερο χρόνο. 
Ακόμα μεγαλύτερο ενδιαφέρον παρουσιάζει η δυνατότητα να μελετηθούν συσχετίσεις ανάμεσα στη συχνότητα και τον τρόπο παρουσίας των φοιτητών στο φόρουμ με άλλα δεδομένα των μαθησιακών συμπεριφορών και προτιμήσεών τους. 
Ενώ η διαδικασία της <i>αλληλοαξιολόγησης</i> (peer grading ή peer assesment) &mdash;που είναι κρίσιμης σημασίας για μαθήματα ανθρωπιστικών επιστημών&mdash; προσφέρει επίσης εξαιρετικές δυνατότητες για παιδαγωγικές μελέτες σε εντελώς νέου τύπου ερωτήματα. </p>
<p class="ngabout">Η άντληση και η στατιστική επεξεργασία τέτοιων δεδομένων &mdash;εννοείται <em>πλήρως ανωνυμοποιημένων</em>&mdash; απαιτούν βεβαίως κατάλληλα προγραμματιστικά εργαλεία και αυτό είναι ένα από τα καθήκοντα των τεχνικών του Mathesis τούτο τον καιρό.
</p>

</td></tr></table>

</section>

