<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="course" "/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${course.short_description}<!--${course.display_org_with_default}--></span>
        <!--span class="course-code">${course.display_number_with_default}</span-->
        % if unicode('DISABLED') not in unicode(course.short_description):
        <span class="course-title"><span style='font-size:16px;font-weight:600;'>${course.display_number_with_default}</span> ${course.display_name_with_default}</span>
        %endif
      </h2>
      <!--NGICK START-->
      <%
      if course.advertised_start is not None:
         advdate=course.advertised_start.split('-')
         advdateday=advdate[2].split('T')
         course_date_string=advdateday[0]+'/'+advdate[1]+'/'+advdate[0]
         #advdate=datetime.strptime(course.advertised_start,'%Y-%m-%dT%I:%M:%SZ')
         #adv_date_string=advdate.strftime('%d/%m/%Y')         
      else:
         course_date_string = ''
      %>
      <!--NGICKCS ${course.start}  ${course.advertised_start} END-->
      <%
      if course.start is not None:
          course_date_string = course.start.strftime('%d/%m/%Y')
          xxtype = type(course.start)
      else:
          course_date_string = ''

      %>
      <!--NGICKTYPE ${xxtype}-->
      % if course.advertised_start is not None:
          <div class="course-date" aria-hidden="true"><!--${_("Starts")}: ${course.advertised_start}-->
          % if unicode('SELFPACED') in unicode(course.short_description):
            Self Paced
          % elif unicode('DISABLED') in unicode(course.short_description):

          % else:
            ${_("Starts")}: ${course_date_string} 
 
          % endif

          </div>
      % else:
          <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" 

          % if unicode('SELFPACED') in unicode(course.short_description):
            data-string="Translated and edited by Tasos Epitropakis"
          % elif unicode('DISABLED') in unicode(course.short_description):
            data-string=""
          % else:
            data-string="${_("Starts")}: ${course_date_string}" 
 
          % endif


          >


         </div>
      % endif
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default}</li>
        <li>${course.display_number_with_default}</li>
        % if course.advertised_start is not None:
            <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
        % else:
            <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}"></time></li>
        % endif
      </ul>
    </div>
  </a>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
