<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse
%>
<%page args="course" />
<article class="course" id="${course.id | h}" role="region" aria-label="${course.display_name_with_default}">
<!-- ngick:the following should be inside article
% if unicode('Phys1') in unicode(course.id):
style="border-bottom: 3px solid blue;"
% endif
-->

  <a href="${reverse('about_course', args=[course.id.to_deprecated_string()])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url | h}" alt="${course.display_name_with_default} ${course.display_number_with_default | h}" />
        <div class="learn-more" aria-hidden=true>${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info" aria-hidden="true">
      <h2 class="course-name">
        <span class="course-organization">${course.short_description}
<!--${course.display_org_with_default | h}--></span>
<!--        <span class="course-code">${course.display_number_with_default | h}</span>-->


% if unicode('DISABLED') not in unicode(course.short_description):
        <span class="course-title"><span style='font-size:17px;font-weight:600;'>${course.display_number_with_default | h}</span> ${course.display_name_with_default}</span>
%endif
      </h2>
      <div class="course-date" aria-hidden="true">
% if unicode('SELFPACED') in unicode(course.short_description):
       Αυτομελέτη
% elif unicode('DISABLED') in unicode(course.short_description):
   
% else:
       ${_("Starts")}: ${course.start_datetime_text()}
% endif
</div>
    </div>





    <div class="sr">
      <ul>
      <li>${course.display_org_with_default | h}</li>
      <li>${course.display_number_with_default | h}</li>
      <li>${_("Starts")}: <time itemprop="startDate" datetime="${course.start_datetime_text()}">${course.start_datetime_text()}</time></li>
    </ul>
    </div>
  </a>
</article>

