## mako
<!--<div style="background:red;text-align:center;padding-top:10px;padding-bottom:10px;line-height:25px;font-size:1.2em;">ΠΡΟΣΟΧΗ: Bρισκόμαστε σε αναβάθμιση και οι εργασίες σας δεν θα αποθηκεύονται. <span class="sLine">Σύντομα και πάλι κοντά σας.</span></div>-->
<%namespace name='static' file='/static_content.html'/>

<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,700,600,400&subset=latin,greek,greek-ext' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="${static.url('/static/EuCup/css/ng.css')}" />

<script type="text/javascript" src="${static.url('/static/EuCup/css/highslide/highslide-with-html.js')}"></script>
<link rel="stylesheet" type="text/css" href="${static.url('/static/EuCup/css/highslide/highslide.css')}" />
<script type="text/javascript">
        hs.graphicsDir = '${static.url('/static/EuCup/css/highslide/graphics/')}';
        hs.outlineType = 'rounded-white';
        hs.showCredits = false;
        hs.wrapperClassName = 'draggable-header';
</script>
<!-- this file is head-extra -->


## Paste your google analytics script here:
## the following is from mathesis.cup@gmail.com

 <!-- Histats.com  START  (aync)-->
<script type="text/javascript">var _Hasync= _Hasync|| [];
_Hasync.push(['Histats.start', '1,3850892,4,0,0,0,00010000']);
_Hasync.push(['Histats.fasi', '1']);
_Hasync.push(['Histats.track_hits', '']);
(function() {
var hs = document.createElement('script'); hs.type = 'text/javascript'; hs.async = true;
hs.src = ('//s10.histats.com/js15_as.js');
(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(hs);
})();</script>
<noscript><a href="/" target="_blank"><img  src="//sstatic1.histats.com/0.gif?3850892&101" alt="free hit counter" border="0"></a></noscript>
<!-- Histats.com  END  -->
