## mako
<!--<div style="background:red;text-align:center;padding-top:10px;padding-bottom:10px;line-height:25px;font-size:1.2em;">ΠΡΟΣΟΧΗ: Bρισκόμαστε σε αναβάθμιση και οι εργασίες σας δεν θα αποθηκεύονται. <span class="sLine">Σύντομα και πάλι κοντά σας.</span></div>-->
<%namespace name='static' file='/static_content.html'/>

<link rel="stylesheet" type="text/css" href="${static.url('/static/EuCup/css/ng.css')}" />

<script type="text/javascript" src="${static.url('/static/EuCup/css/highslide/highslide-with-html.js')}"></script>
<link rel="stylesheet" type="text/css" href="${static.url('/static/EuCup/css/highslide/highslide.css')}" />
<script type="text/javascript">
        hs.graphicsDir = '${static.url('/static/EuCup/css/highslide/graphics/')}';
        hs.outlineType = 'rounded-white';
        hs.showCredits = false;
        hs.wrapperClassName = 'draggable-header';
</script>
<!-- this file is head-extra -->




