/*the following are mods */

/*courses homepage GLOBAL STUFF*/
html, body{
background:#efefef!important;
}
.wrapper-footer, .home{
background:#efefef!important
}
.header-global{
background:#efefef!important;
}
.learn-more{
left: calc(50%-105px)!important;
width: 210px!important;
}
.highlighted-courses .courses{
padding-top:0px!important;
}
.content-wrapper{
padding-bottom:0px!important;
background:#efefef!important;
}

.courses-container .courses .course .course-info .course-title{
color:grey!important;
line-height:21px!important;
font-size:17px!important;
}
.home>header .title>.heading-group,
.home>header .title>.heading-group h1{
text-align:center;
}
.home>header .title>.heading-group p{
font-family:"Open Sans";
}
/*find-courses*/
.find-courses .courses{
padding-top:70px!important;
}
.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span{
font-weight:inherit!important;
font-size:1.5em!important;
}

.dashboard .my-courses .course .details .course-title a, .dashboard .my-courses .course .details .course-title span, .find-courses .wrapper-search-context .search-status-label{
line-height:1.2em;
}

/*The following is for episkophsh*/
.course-info .container nav a, .course-info section.outside-app nav a, .course-info .wrapper-account-settings nav a, .course-info .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy nav a, .view-profile .profile-self .wrapper-profile-field-account-privacy .course-info .u-field-account_privacy nav a, .course-info .view-profile .wrapper-profile-sections nav a, .view-profile .course-info .wrapper-profile-sections nav a{
text-transform:none!important;
}
/*the followin is for hiding the welcome in News and Updates of the course (anakoinwseis)*/
div.container>div.home{
display:none!important;
}

/*the following is for ORA*/
.wrapper--xblock .problem__header, .wrapper--xblock .is--transitioning .transition__status .copy, .wrapper--xblock .message .message__title, .openassessment .step--peer-assessment .peer-assessment__assessment .assessment__rubric__question .question__title__copy, .openassessment .step--self-assessment .self-assessment__assessment .assessment__rubric__question .question__title__copy, .step--student-training .student-training__assessment .assessment__rubric__question .question__title__copy, .wrapper--xblock .ui-staff__title, .openassessment .step--peer-assessment .peer-assessment__display__header .peer-assessment__display__title, .openassessment .step--self-assessment .self-assessment__display__title, .openassessment .submission__answer__display__title, .openassessment .submission__peer-evaluations__title, .openassessment .submission__peer-evaluations__questions .question__title__copy, .openassessment .submission__feedback__title, .openassessment .submission__feedback__title__copy, .step--student-training .student-training__display__title, .openassessment .step--peer-assessment .peer-assessment__assessment .question__answers .answer__points, .openassessment .step--self-assessment .self-assessment__assessment .question__answers .answer__points, .step--student-training .student-training__assessment .question__answers .answer__points, .openassessment .openassessment__steps__step .step__status .copy, .openassessment .step--response .response__submission__content .tip, .openassessment .step--response .response__submission__status__title, .openassessment .submission__peer-evaluations__questions .question__score, .openassessment .submission__peer-evaluations__questions .answer__score, .openassessment .submission__peer-evaluations__questions .answer__score__value, .wrapper--xblock .staff-info__status__table th, .wrapper--xblock .staff-info__classifierset__table th, .openassessment .submission__peer-evaluations__questions .answer__source, .openassessment .answer--feedback .feedback__source{
text-transform:none!important;
}

h2{
text-transform:none!important;
}

/*in buttons check, Save Show answer */
.xmodule_display.xmodule_CapaModule div.problem .action .save, .xmodule_display.xmodule_CapaModule div.problem .action .check, .xmodule_display.xmodule_CapaModule div.problem .action .show, .xmodule_display.xmodule_CapaModule div.problem .action .reset, .xmodule_display.xmodule_CapaModule div.problem .action .hint-button{
text-transform:none!important;
}

/*password reset form */
.view-register .introduction header .title .title-super, .view-login .introduction header .title .title-super, .view-passwordreset .introduction header .title .title-super{
text-transform:none!important;
font-weight:400;

}
.view-passwordreset .introduction header{
background:none!important;
height:100px!important;
}
.view-passwordreset .passwordreset form .instructions{
font-weight:400;

}
/*end of password reset form*/

/*ACCOUNT SETTINGS */
/* hide top paragraph */
.account-settings-sections .section .account-settings-header-subtitle{
display:none!important;
}
/*Account Settings hide top menu*/
.wrapper-account-settings .wrapper-header .account-nav{
display:none!important;
}

/*IN COURSES logo*/
header.global.slim h1.logo img{
height:40px;
margin-top:-10px;
}

/*FORUM*/
/*preview*/
/*.container .discussion-body .wmd-preview-label, section.outside-app .discussion-body .wmd-preview-label, .wrapper-account-settings .discussion-body .wmd-preview-label, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .discussion-body .wmd-preview-label, .view-profile .wrapper-profile-sections .discussion-body .wmd-preview-label, .container .discussion-module .wmd-preview-label, section.outside-app .discussion-module .wmd-preview-label, .wrapper-account-settings .discussion-module .wmd-preview-label, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .discussion-module .wmd-preview-label, .view-profile .wrapper-profile-sections .discussion-module .wmd-preview-label, .container .discussion-user-threads .wmd-preview-label, section.outside-app .discussion-user-threads .wmd-preview-label, .wrapper-account-settings .discussion-user-threads .wmd-preview-label, .view-profile .profile-self .wrapper-profile-field-account-privacy .u-field-account_privacy .discussion-user-threads .wmd-preview-label, .view-profile .wrapper-profile-sections .discussion-user-threads .wmd-preview-label{
text-transform:none!important;
}
.post-label-by-staff, .post-label-pinned, .post-label-following{
text-transform:none !important;
}

body.discussion .post-label-by-community-ta, .discussion-module .post-label-by-community-ta, .discussion-user-threads .post-label-by-community-ta{
text-transform:none!important;
}
*/
/*hide FIND COURSES FROM forum*/
.left.nav-global.list-inline.authenticated{
/*display:none!important;*/
}

/*color of background of forum*/
.window-wrap{
background-color:#efefef;
}
/*for making the number of posts red, when there are new posts in theads that I have visited DOESNT WORK ON EUCALYPTUS*/
/*span.forum-nav-thread-comments-count.is-unread{
color: red;
}*/

/*hiding the email icon from forum*/
.home-helpgrid tr.helpgrid-row.helpgrid-row-notification{
/*display:none!important;*/
}


/* the following are for the logo in header*/
/*header.global h1.logo{
float:none;!important;
position:initial!important;
text-align:center!important;
margin-left:auto!important;
margin-right:auto!important;

}

header.global h1.logo a{
display:initial!important;
}*/
/*the following are for the slogan header*/
.home>header{
background:none!important;
box-shadow:none!important;
}
.home>header .title>hgroup h2, .home>header .title>hgroup section.outside-app h1, section.outside-app .home>header .title>hgroup h1{
text-align:center;
}
.home>header .title>hgroup h1{
  text-align:center;
}

.home>header .title{
text-align:center;
box-shadow:none!important;
background:none!important; /*this is for the color just under slogan NO AVAILABLE VARIABLE*/
}

/*the following are for the blue bar under each course in homepage and the bg color*/
.courses-container .courses .course{
border-bottom:none!important;
background:none;
}

/*the following are for the small dropdown button on top right */
.header-global .user .dropdown{
background:none!important;
}

.home .highlighted-courses{
margin-bottom:0px;
}


/*color for the form login-register*/
.login-register{
background:none;
}
.login-form .section-title{
display:none;
}

.login-register .section-title.lines .text, .financial-assistance-wrapper .financial-assistance-form .section-title.lines .text{
background:#efefef!important;
}
.login-register .nav-btn, .financial-assistance-wrapper .financial-assistance-form .nav-btn, .login-register .button-secondary-login, .financial-assistance-wrapper .financial-assistance-form .button-secondary-login{
height:auto!important;

}



/*hide the profile sidebar from the dashboard*/
.dashboard .profile-sidebar{
display:none!important;
}

/*give more space in course listings and center them*/
.dashboard .my-courses{
width:80%!important;
margin-left:auto!important;
margin-right:auto!important;
float:none;
}
/*fix color of the borders in dashboard*/
.dashboard .my-courses .listing-courses .course-item, 
.dashboard .my-courses .wrapper-header-courses{
border-bottom-color:#cfcfcf!important;
}
.dashboard .my-courses .listing-courses .course-item .course-container{
border:1px solid #cfcfcf!important;
}
h3 a, h3 a:visited{
color:grey;
}
h3 a:hover, a:focus{
color:#0079bc;
}
.course-actions a:hover{
color:white;
}
.dashboard .my-courses .course .details .course-actions .action:hover, .dashboard .my-courses .course .details .course-actions .action:focus{
color:black!important;
}

/* Hide info for the grade and certificate in dashboard */
.course-item .course-container .course .wrapper-messages-primary{
/*display:none!important;*/
}

/*for hidding a link like physics, history in the about page course just after the course title*/
.course-info header.course-profile .intro-inner-wrapper .intro>.heading-group h1 a{
display:none!important;
}
h2, section.outside-app h1 {
font-family: "Open Sans"!important;
}

/*to eliminate the space above footer*/
.wrapper-footer{
margin-top:0px!important;
box-shadow:none!important;
border-top:none!important;
}

/*the following are for tiding up the poll and survey*/
li.poll-answer{
margin-bottom:0!important;
}

ul.poll-answers, ul.poll-answers-results{
max-width:95%;
}

.percentage-gauge-container{
width:85%!important;
}



/*the following are added features*/
img.rs{
float: left; 
margin-right: 10px;
width: 200px;
height: auto;
}
.ngm{
   font-family:times;
    font-size:1.15em;
}
.ngj{
text-align:justify;
}
.sLine{
overflow: hidden;
white-space: nowrap;
}
div.shortdesc{
margin-bottom:3px;
font-weight:bold;
}
span.shortdesc{
font-style:italic;
}

